# airflow-dags
ctds==1.12.0
tqdm==4.60.0
py-trello==0.17.1
frictionless==5.11.1
great-expectations==0.17.2
openpyxl==3.0.7
Office365-REST-Python-Client==2.3.14
geopandas==0.12.2
pandas==1.5.2,<2

# airflow-dags-delog
# tqdm==4.60.0
unidecode==1.2.0

# airflow-dags-detru

# airflow-commons
# great-expectations==0.17.2