# airflow-dags
py-trello==0.17.1
frictionless==5.11.1
great-expectations==0.18.9
openpyxl==3.0.10
Office365-REST-Python-Client==2.3.14
geopandas==0.12.2
openmetadata-ingestion==1.5.2.0

# airflow-dags-delog
unidecode==1.2.0

# airflow-dags-detru
# None

# airflow-commons
# great-expectations==0.18.9

